* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.headerer-container {
    max-height: max-content;
}

nav {
    background-color: #add8e6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    background-color: #daa520;
    border: 2px dashed black;    
}


.secondo {
    text-align: center;
    padding: 10px;
}

.logo {
    width: 200px;
    border-right: 3px dashed black;
    padding: 10px;
}

.login {
    width: 200px;
    text-align: right;
    border-left: 3px dashed black;
    padding: 10px;
}

.title-container {
    background-color: #00008b;
    max-height: max-content;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 3px solid #add8e6;
}

.banner {
    width: 900px;
    height: 400px;
    background-color: #ee82ee;
    margin: auto;
    border: 2px dashed black;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: max-content;
}

.white {
    background-color: white;
}

.gray {
    background-color: #d3d3d3;
}

.section-container {
    display: flex;
    height: 500px;
    width: 1200px;
    margin: auto;

}

.img-section {
    flex-grow: 2;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.content-section {
    flex-grow: 1;
    background-color: pink;
    border: 2px dashed black;
}

.large-img-section {
    background-color: green;
    border: 2px dashed black;
    margin: auto;
    height: 900px;
    width: 1200px;
}

.fourth .gray {
    background-color: #d3d3d3;
    max-height: max-content;
}

.footer-section {
    background-color: #23272a;
    max-height: max-content;
    padding-top: 10px;
    padding-bottom: 0;
}

.link-container {
    display: flex;
    height: 575px;
    width: 1200px;
    margin: auto;
    padding-bottom: 30px;
}

.a-column {
    background-color: #f08080;
    flex-grow: 2;
    border: 2px dashed black;
}

.b-column, .c-column, .d-column, .e-column {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.line{
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
}

.sign-in-container {
    display: flex;
    justify-content: space-between;
    background-color: #7fffd4;
    margin: auto;
    height: 80px;
    width: 1200px;
}

.logo-footer, .button-footer {
    background-color: #f08080;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 2px dashed black;
    align-self: center;
}